<div class="jumbotron jumbotron-1 text-center">
  <h1 class="display-3 ">Welcome Writers</h1>
  <p class="lead lead_index">Start writing the best and worst of your stories</p>
  <a href="/stories/add" class="btn btn-lg btn-primary">Add Story</a>
</div>